*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    min-height: 100%;
    position: relative;
  background: radial-gradient(rgb(216, 215, 215),black);
    color: #fff;
}
.main>nav{
    width: 100%;
    height: 6vw;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
}

.logo{
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main>nav>ul{
    display: flex;
    list-style-type: none;
    gap: 5vw;
}
.main>nav>ul>li{
    font-size: 19px;
    width: 7vw;
    height: 2.5vw;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main>nav>ul>li:hover{
    background-color: #d6f8cb;
    cursor: pointer;
    color: #000;
}

.container{
    width: 100%;
    min-height:88vh;
    /* background: #b41a1a; */
    display: flex;
    padding: 0 6vw;
}

.container>.left{
    width: 50vw;
    height: 88vh;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
}

.right{
    width: 50vw;
    height: 88vh;
    background-color: aquamarine;
}

.container>.left>h1:nth-child(1){
    font-size: 5vw;
}
#name{
    font-size: 4vw
}
.container>.left>h2{
    font-size: 2vw;
}
.container>.left>h2>span{
    color: rgb(111, 255, 0);
}

.left>.btn{
    width: 100%;
    height: 4vw;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.left>.btn>button{
    padding: 1vw;
    width: 9vw;
    border-radius:30px ;
    border: none;
    font-size: 15px;
}
.left>.btn>button:hover{
    cursor: pointer;
    background-color: #d6f8cb;
}

.right>.image{
    width: 12vw;
    height: 12vw;
    background: url(../images/abhishek.jpg);
    background-size:cover;
    background-position: center;
    border-radius: 50%;
    transition: all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right>.image:hover{
    width: 13vw;
    height: 13vw;
    transition-duration: 0.5s;
}