<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="main">
        <nav>
            <div class="logo">
                <h3>ABHISHEK</h3>
                <h3>Portfolio</h3>
            </div>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Projects</li>
                <li>Contact</li>
            </ul>
        </nav>

        <div class="container">
            <div class="left">
                <h1>I'm</h1>
                <h1 id="name">Abhishek Roy</h1>
                <h2>Student of <span>Computer Science & Technology</span></h2>
                <div class="btn">
                    <button>Contact</button>
                    <button>Download CV</button>
                </div>
            </div>
            <div class="right">
                <div class="image">
                    
                </div>

            </div>
        </div>
    </div>

    <script src="../javascript/script.js"></script>
</body>

</html>