<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome to - TripAdvisor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/assets/footer logo.png">
</head>

<body>

    <div class="main">
        
        {{>header}}
        <div class="nav-2">
            <button>Hotels<i class="fa-solid fa-square-h"></i></button>
            <button>Things to Do<i class="fa-solid fa-dong-sign"></i></button>
            <button>Holiday Homes<i class="fa-solid fa-house-chimney"></i></button>
            <button>Restaurants<i class="fa-solid fa-utensils"></i></button>
            <button>Travel Stories<i class="fa-solid fa-globe"></i></button>
            <button>More<i class="fa-solid fa-ellipsis"></i></button>
        </div>

        <div class="bg-1">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Where to ?">
        </div>

        <div class="bg-2">
            <div class="bg-2-img"></div>
            <div class="bg-2-text">
                <div class="logo-text">
                    <img src="/assets/small logo.png" alt="logo" width="8%">
                    <span>Tripadvisor Foundation</span>
                </div>
                <h1>Help us help Maui and beyond</h1>
                <p>The Tripadvisor Foundation is matching donations to World Central Kitchen's Climate Disaster Fund
                    that helps them respond to disasters in Maui and around the world.</p>
                <button>Donate Now</button>
            </div>
        </div>

        <div class="catagory">
            <div class="catagory-text">
                <h2>Top Things to Do by category</h2>
                <p>
                    Travellers' Choice Best of the Best winners</p>
            </div>
            <div class="catagory-card">
                <div class="catagory-card-1">
                    <img src="/assets/catagori-card-1.jpg" alt="">
                    <h2>Top Overall</h2>
                </div>
                <div class="catagory-card-2">
                    <img src="/assets/catagory-card-2.jpg" alt="">
                    <h2>Bucket List</h2>
                </div>
                <div class="catagory-card-3">
                    <img src="/assets/catagori-card-3.jpg" alt="">
                    <h2>Food & Culinary</h2>
                </div>
                <div class="catagory-card-4">
                    <img src="/assets/catagori-card-4.jpg" alt="">
                    <h2>Nature & Outdoor</h2>
                </div>
            </div>
        </div>

        <div class="tour">
            <div class="tour-text">
                <h2>Ways to tour Kolkata (Calcutta)</h2>
                <p>Book these experiences for a close-up look at Kolkata (Calcutta).</p>
            </div>
            <div class="trip-card">
                <div class="trip-1">
                    <div class="trip-1-img">
                        <i class="fa-regular fa-heart love-icon"></i>
                    </div>
                    <div class="trip-1-text">
                        <h3>Explore Kolkata- Private Full Day Tour</h3>
                        <div class="circle">
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle-half-stroke"></i>
                        </div>
                        <h5>from ₹6,820 per adult</h5>
                    </div>
                </div>
                <div class="trip-2">
                    <div class="trip-2-img">
                        <i class="fa-regular fa-heart love-icon"></i>
                    </div>
                    <div class="trip-2-text">
                        <h3>Kolkata - Sounds and Sights - Private Full Day City Tour</h3>
                        <div class="circle">
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle-half-stroke"></i>
                            <i class="fa-solid fa-circle-half-stroke"></i>
                        </div>
                        <h5>from ₹6,000 per adult</h5>
                    </div>
                </div>
                <div class="trip-3">
                    <div class="trip-3-img">
                        <i class="fa-regular fa-heart love-icon"></i>
                    </div>
                    <div class="trip-3-text">
                        <h3>Private Full Day Sightseeing Tour of Kolkata</h3>
                        <div class="circle">
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                        </div>
                        <h5>from ₹4,262 per adult</h5>
                    </div>
                </div>
                <div class="trip-4">
                    <div class="trip-4-img">
                        <i class="fa-regular fa-heart love-icon"></i>
                    </div>
                    <div class="trip-4-text">
                        <h3>Kolkata Gateway: A Private 3-Day Tour</h3>
                        <div class="circle">
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle-half-stroke"></i>
                        </div>
                        <h5>from ₹20,715 per adult</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="guid">
            <h1>The ultimate family travel guide</h1>
            <h4>An inspo-packed playbook for getting your next trip into gear</h4>
            <button>Read More</button>
        </div>

        <div class="finish">
            <div class="list">
                <div class="list-1">
                    <h3>About Tripadvisor</h3>
                    <ul>
                        <li>About Us</li>
                        <li>Press</li>
                        <li>Resources and Policies</li>
                        <li>Careers</li>
                        <li>Trust & Safety</li>
                        <li>Contact us</li>
                        <li>Accessibility Statement
                        </li>
                    </ul>
                </div>
                <div class="list-2">
                    <h3>Explore</h3>
                    <ul>
                        <li>Write a review</li>
                        <li>Add a Place</li>
                        <li>Join </li>
                        <li>Travellers' Choice</li>
                        <li>GreenLeaders</li>
                        <li>Help Centre</li>
                        <li>Travel Articles</li>
                    </ul>
                </div>
                <div class="list-3">
                    <h3>Do Business With Us</h3>
                    <ul>
                        <li>Owners & DMO/CVB</li>
                        <li>Business Advantage</li>
                        <li>Sponsored Placements</li>
                        <li>Access our Content API</li>
                    </ul>
                    <h3>Get The App</h3>
                    <ul>
                        <li>iPhone App</li>
                        <li>Android App</li>
                    </ul>
                </div>
                <div class="list-4">
                    <h3>Tripadvisor Sites</h3>
                    <p>Book tours and attraction tickets on <span>Viator</span></p>
                </div>
            </div>

            <div class="footer">
                <div class="footer-1">
                    <div class="sub-footer-1">
                    <img src="/assets/footer logo.png" alt="logo">
                    <p>© 2023 Tripadvisor LLC All rights reserved.</p>
                </div>
                <div class="sub-footer-2">
                    <ul>
                        <li>Terms of Use</li>
                        <li>Privacy and Cookies Statement</li>
                        <li>Cookie consent</li>
                        <li>Site Map</li>
                        <li>Contact us</li>
                        <li>How the site works</li>
                    </ul>
                </div>
                </div>
                <div class="footer-2">
                    <select name="Rupees" id="">
                        <option value="">$ US Dollar</option>
                        <option value="">Indian Rupees</option>
                        <option value="">DKK Danish Crone</option>
                        <option value="">AFN Afghan Afghanis</option>
                        <option value="">BZD Belzie Dollar</option>
                        <option value="">IQD Iraque Diner</option>
                    </select>
                    <select name="Country" id="">
                        <option value="">India</option>
                        <option value="">Austrilia</option>
                        <option value="">Colombia</option>
                        <option value="">Japan</option>
                        <option value="">Portugal</option>
                        <option value="">Switzerland</option>
                        <option value="">Parish</option>
                        <option value="">Denmark</option>
                        <option value="">Ireland</option>
                        <option value="">Netherland</option>
                        <option value="">Peruguye</option>
                        <option value="">Brazil</option>
                    </select>

                    <div class="social">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-discord"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>